# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Production build artifacts
dist/
/client/dist/
/server/dist/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/server/.env

# Editor logs and caches
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Upload files (optionally ignore or keep the folder structure)
/server/uploads/*
!/server/uploads/.gitkeep
